@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

.app {
  position: relative;
}

.navigation {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navigation_item {
  font-weight: 500;
  cursor: pointer;
  padding: 14px;
  border-radius: 5px;
  background-color: #797979;
  box-shadow: 1px 1px 6px #414141;
  white-space: nowrap;
}

.navigation_item-active {
  background-color: #c1c1c1;
}

.slider {
  padding: 50px;
}

.slider_item {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.slider_item-text {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.slider_item-text > div {
  position: unset !important;
}

.slider_item h3 {
  font-size: 80px;
  text-shadow: 0 0 10px #fff;
  margin: 0 0 20px;
  text-align: center;
}

.slider_item p {
  font-size: 20px;
  text-shadow: 0 0 6px #fff;
  margin: 0 0 20px;
  text-align: center;
}

.slider_item a {
  margin: 0 auto;
  display: block;
  width: fit-content;
  padding: 12px 19px;
  border-radius: 8px;
  border: 0;
  background: #fff;
  color: black;
  font-size: 18px;
  text-decoration: unset;
}

.slider_loader div {
  position: absolute;
  left: -25px;
  width: 40px;
  height: 40px;
  border: 5px solid #9f9f9f;
  border-radius: 50%;
  animation: spinner_loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #9f9f9f transparent transparent transparent;
}
.slider_loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.slider_loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.slider_loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spinner_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .navigation {
    overflow-x: scroll;
    width: -webkit-fill-available;
    width: -moz-available;
    padding-right: 20px;
  }
}
